<div class="row mx-auto animated fadeIn fast">
	<div class="col-xl-6 col-12">
		<div class="card">
			<div class="card-header" [ngClass]="{'bg-primary': !isEdit, 'bg-warning': isEdit}">
				<h5 class="card-title" [ngClass]="{'text-white': !isEdit, 'text-dark': isEdit}">
					<fa-icon *ngIf="!isEdit" [icon]="faPlus"></fa-icon>
					<fa-icon *ngIf="isEdit" [icon]="faPen"></fa-icon>
					{{ isEdit ? 'Editando empresa ' + company.data.attributes.name :
					'Nueva empresa'}}
				</h5>
			</div>
			<div class="card-body">
				<form
					autocomplete="off"
					[formGroup]="companyForm"
					id="ngCompanyForm"
					(ngSubmit)="submitCompanyForm()"
				>
					<div class="row">
						<div class="col-12">
							<!-- Name -->
							<div class="mb-3">
								<label for="name" class="form-label">Nombre *</label>
								<input
									type="text"
									labelForId="name"
									class="form-control"
									formControlName="name"
									placeholder="Nombre"
									[class.is-invalid]="isInValid('name')"
								/>

								<div class="invalid-feedback">
									Por favor, ingresar un nombre.
								</div>
							</div>
							<!-- Email -->
							<div class="mb-3">
								<label for="email" class="form-label">Email *</label>
								<input
									type="text"
									labelForId="email"
									class="form-control"
									formControlName="email"
									placeholder="Email"
								/>

								<div class="invalid-feedback" *ngIf="isInValid('email')">
									Por favor, ingresar un Email.
								</div>
							</div>
							<!-- web_page -->
							<div class="mb-3">
								<label for="web_page" class="form-label">Pagina web</label>
								<input
									type="text"
									labelForId="web_page"
									class="form-control"
									formControlName="web_page"
									placeholder="Pagina web"
								/>
							</div>
							<!-- address -->
							<div class="mb-3">
								<label for="address" class="form-label">Direccion</label>
								<input
									type="text"
									labelForId="address"
									class="form-control"
									formControlName="address"
									placeholder="Direccion"
								/>
							</div>
							<!-- phone -->
							<div class="mb-3">
								<label for="phone" class="form-label">Telefono</label>
								<input
									type="text"
									labelForId="phone"
									class="form-control"
									formControlName="phone"
									placeholder="Telefono"
								/>
							</div>
							<!-- /.row -->
						</div>
					</div>
				</form>
			</div>

			<!-- Campo de Submit -->
			<div class="card-footer d-flex justify-content-between">
				<a class="btn btn-secondary btn-block mr-1" [routerLink]="['/empresas']"
					>Volver</a
				>
				<button
					type="submit"
					class="btn btn-success btn-md btn-block mt-0"
					form="ngCompanyForm"
					[disabled]="companyForm.invalid"
				>
					<fa-icon [icon]="isEdit? faSave : faPlus"></fa-icon> {{isEdit?
					'Guardar' : 'Crear'}}
				</button>
			</div>
		</div>
	</div>
	<div class="col d-flex justify-content-center align-items-center">
		<fa-icon
			[icon]="faShoppingCart"
			size="10x"
			class="text-secondary"
		></fa-icon>
	</div>
</div>
