<div class="row mx-auto animated fadeIn fast">
    <div class="col">
    <div class="card">
      <div class="card-header" [ngClass]="{'bg-primary': !isEdit, 'bg-warning': isEdit}"> 
        <h5 class="card-title" [ngClass]="{'text-white': !isEdit, 'text-dark': isEdit}">
          <fa-icon *ngIf="!isEdit" [icon]="faPlus"></fa-icon>
          <fa-icon *ngIf="isEdit" [icon]="faPen"></fa-icon>
          {{ isEdit ? 'Editando categoria de producto ' + productsCategory.data.attributes.name : 'Nueva categoria de producto'}}
        </h5>
      </div>
      <div class="card-body">     
          
          <form autocomplete="off" [formGroup]="productsCategoryForm" id="ngProductsCategoryForm" (ngSubmit)="submitProductsCategoryForm()">
            <div class="row">
              <div class="col">
                <label for="name" class="form-label">Nombre</label>
                <input type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Nombre"
                        [class.is-invalid]="isInValid('name')"
                        id="name">
                <div class="invalid-feedback">
                  Pro favor, ingrese un nombre de cateogira
                </div>
              </div>
            </div>          
          </form>
        </div>
  
        <!-- Campo de Submit -->
        <div class="card-footer d-flex justify-content-between">
          <a class="btn btn-secondary btn-block mr-1"  [routerLink]="['/productos/categorias']">Volver</a>
          <button type="submit" class="btn btn-success btn-md btn-block mt-0" form="ngProductsCategoryForm"><fa-icon [icon]="faSave"></fa-icon> Guardar</button>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <fa-icon [icon]="faClipboardList" size="10x" class='text-secondary'></fa-icon>
    </div>
  </div>
