<div class="card animated fadeIn">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h5 class="mb-0">Clientes</h5>
	</div>
	<div class="card-body">
		<table class="table table-striped table-hover">
			<thead>
				<div class=""></div>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of clients.data" [attr.id]="item.id">
					<td>{{ item.id }}</td>
					<td>{{ item.attributes.first_name}}</td>
					<td>{{item.attributes.last_name}}</td>
					<td>
						<app-action-buttons [routePrefix]="'clientes'"
																[id]="item.id"
																[detroyModalContent]="item.attributes.first_name"
																(deleteConfirm)="delete($event)">
						</app-action-buttons>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer"></div>
</div>
