<div class="row mx-auto animated fadeIn fast">
	<div class="col-xl-6 col-12">
		<div class="card">
			<div class="card-header" [ngClass]="{'bg-primary': !isEdit, 'bg-warning': isEdit}">
				<h5	class="card-title" [ngClass]="{'text-white': !isEdit, 'text-dark': isEdit}">
					<fa-icon *ngIf="!isEdit" [icon]="faPlus"></fa-icon>
					<fa-icon *ngIf="isEdit" [icon]="faPen"></fa-icon>
					{{ isEdit ? 'Editando producto ' + product.data.attributes.name : 'Nuevo producto' }}
				</h5>
			</div>
			<div class="card-body">
				<form
					autocomplete="off"
					[formGroup]="productForm"
					id="ngProductForm"
					(ngSubmit)="submitProductForm()"
				>
					<div class="row">
						<div class="col-12">
							<!-- Nombre -->
							<div class="mb-3">
								<label for="name" class="form-label">Nombre *</label>
								<input
									type="text"
									class="form-control"
									[ngClass]="{'is-invalid': isInValid('name')}"
									formControlName="name"
									placeholder="Nombre"
									id="name"
								/>
								<div class="invalid-feedback">
									Por favor, ingresar un nombre de producto
								</div>
							</div>

							<!-- Categoria -->
							<div class="mb-3">
								<label for="category-id" class="form-label">Categoría *</label>
								<ng-select
									[items]="categories.data"
									formControlName="category_id"
									placeholder="Seleccione una categoria"
									bindLabel="attributes.name"
									bindValue="id"
									labelForId="category-id"
									class="custom-select"
									[class.is-invalid]="isInValid('category_id')"
									[class.has-value]="hasValue('category_id')"
								>
								</ng-select>
								<div class="invalid-feedback" *ngIf="isInValid('category_id')">
									Por favor, seleccionar categoría
								</div>
							</div>

							<!-- Unidad Group -->
							<div class="h5 mb-0 mt-3">Unidad *</div>
							<div class="row mb-3">
								<!-- Tipo -->
								<div class="col-4">
									<label for="type" class="form-label w-100 text-center"
										>Tipo</label
									>
									<ng-select
										[items]="unities_types"
										[formControl]="unitySelection"
										bindLabel="name"
										bindValue="value"
										labelForId="type"
										class="custom-select"
										[class.is-invalid]="(unitySelection.errors && unitySelection.touched)"
										[class.has-value]="hasValue('unitySelection')"
									>
									</ng-select>
									<div
										class="invalid-feedback"
										*ngIf="unitySelection.errors && unitySelection.touched"
									>
										Por favor, seleccionar tipo de unidad
									</div>
								</div>
								<!-- Unidad -->
								<div class="col-4">
									<label for="unity" class="form-label w-100 text-center"
										>Unidad</label
									>

									<ng-select
										[items]="unities.data"
										formControlName="unity_id"
										bindLabel="attributes.name"
										bindValue="id"
										labelForId="unity"
										placeholder="Seleccione una unidad"
										class="custom-select"
										[class.is-invalid]="isInValid('unity_id')"
										[class.has-value]="hasValue('unity_id')"
									>
									</ng-select>
									<div class="invalid-feedback">
										Por favor, seleccionar unidad
									</div>
								</div>

								<!-- Cantidad -->
								<div class="col-4">
									<label for="quantity" class="form-label w-100 text-center"
										>Cantidad</label
									>
									<input
										id="quantity"
										type="number"
										class="form-control"
										[class.is-invalid]="isInValid('quantity_per_unit')"
										formControlName="quantity_per_unit"
										placeholder="Cantidad"
									/>
									<div class="invalid-feedback">
										Por favor, ingresar cantidad
									</div>
								</div>
							</div>

							<!-- Codigo de barra -->
							<div class="mb-3">
								<label for="barcode" class="form-label"
									>Código de barra *</label
								>
								<input
									type="text"
									id="barcode"
									class="form-control"
									formControlName="barcode"
									placeholder="Código"
									[class.is-invalid]="isInValid('barcode')"
								/>

								<div class="invalid-feedback">
									Por favor, ingresar un codigo de barra
								</div>
							</div>

							<!-- Descripcion -->
							<div class="mb-3">
								<label for="description" class="form-label">Descripción</label>
								<textarea
									class="form-control"
									id="description"
									formControlName="description"
									rows="5"
								></textarea>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</form>
			</div>

			<!-- Campo de Submit -->
			<div class="card-footer d-flex justify-content-between">
				<a
					class="btn btn-secondary btn-block mr-1"
					[routerLink]="['/productos']"
					>Volver</a
				>
				<button
					type="submit"
					class="btn btn-success btn-md btn-block mt-0"
					form="ngProductForm"
					[disabled]="productForm.invalid"
				>
					<fa-icon [icon]="isEdit? faSave : faPlus"></fa-icon> {{isEdit?
					'Guardar' : 'Crear'}}
				</button>
			</div>
		</div>
	</div>
	<div class="col d-flex justify-content-center align-items-center">
		<fa-icon [icon]="faBoxes" size="10x" class="text-secondary"></fa-icon>
	</div>
</div>
