<a class="btn btn-outline-primary mr-2" [routerLink]="['/productos']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  Productos
</a>
<a class="btn btn-outline-primary mr-2" [routerLink]="['/productos/crear']" routerLinkActive="active">
  Nuevo
</a>

<a class="btn btn-outline-primary mr-2" [routerLink]="['/productos/categorias']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  Categorías
</a>
<a class="btn btn-outline-primary" [routerLink]="['/productos/categorias/crear']" routerLinkActive="active">
  Nueva categoría
</a>