<div class="row mx-auto animated fadeIn fast">
	<div class="col">
		<div class="card">
			<div class="card-header" [ngClass]="{'bg-primary': !isEdit, 'bg-warning': isEdit}">
				<h5 class="card-title" [ngClass]="{'text-white': !isEdit, 'text-dark': isEdit}">
					<fa-icon [icon]="faPlus"></fa-icon> {{ isEdit ? 'Editando categoria de
					proveedor ' + category.data.attributes.name : 'Nueva categoria de proveedor'}}
				</h5>
			</div>
			<div class="card-body">
				<form
					autocomplete="off"
					[formGroup]="providersCategoryForm"
					id="ngClientsCategoryForm"
					(ngSubmit)="submitProvidersCategoryForm()"
				>
					<div class="row">
						<div class="col">
							<label for="name" class="form-label">Nombre *</label>
							<input
								type="text"
								class="form-control"
								formControlName="name"
								placeholder="Nombre"
								[class.is-invalid]="isInValid('name')"
								labelForId="name"
							/>

							<div class="invalid-feedback">
								Por favor, ingrese un nombre de categoria de cliente
							</div>
						</div>
						<div class="col-12">
							<div class="h5 mb-0 mt-3">Descripción</div>
							<textarea
								class="form-control"
								formControlName="description"
								cols="30"
								rows="10"
							></textarea>
						</div>
					</div>
				</form>
			</div>

			<!-- Campo de Submit -->
			<div class="card-footer d-flex justify-content-between">
				<a
					class="btn btn-secondary btn-block mr-1"
					[routerLink]="['/proveedores/categorias']"
					>Volver</a
				>
				<button
					type="submit"
					class="btn btn-success btn-md btn-block mt-0"
					form="ngClientsCategoryForm"
				>
					<fa-icon [icon]="faSave"></fa-icon> Guardar
				</button>
				<!--
          <button type="submit" (click)="onSubmit()" 
          [className]= "!this.modifyAccount ? 'btn btn-primary btn-md btn-block mt-0':'btn invisible'">
          Agregar</button> -->
			</div>
		</div>
	</div>
	<div class="col d-flex justify-content-center align-items-center">
		<fa-icon [icon]="faTruck" size="10x" class="text-secondary"></fa-icon>
	</div>
</div>
