<a class="btn btn-outline-primary mr-2" [routerLink]="['/clientes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Clientes
  </a>
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/clientes/crear']" routerLinkActive="active">
    Nuevo cliente
  </a>
  
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/clientes/categorias']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Categorías
  </a>
  <a class="btn btn-outline-primary" [routerLink]="['/clientes/categorias/crear']" routerLinkActive="active">
    Nueva categoría
  </a>