<div class="card animated fadeIn">
  <div class="card-header">
    <h5> Usuarios </h5>
  </div>
  <div class="card-body">  
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <!-- <th scope="col">Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users.data">
          <td>{{ item.id }}</td>
          <td>{{ item.attributes.name }}</td>
          <td>{{ item.attributes.username }}</td>
          <td>{{ item.attributes.email }}</td>
          <!-- <td>
            <app-action-buttons [model]="'usuarios'" [id]="item.id.toString()"></app-action-buttons>
          </td> -->
        </tr>
       
      </tbody>
    </table>  
  </div>
  <div class="card-footer"></div>
</div>