<div class="row animated fadeIn fast">
	<div class="col-xl-6 col-6">
		<div class="card">
			<div class="card-header" [ngClass]="{'bg-primary': !isEdit, 'bg-warning': isEdit}" >
				<h5 class="card-title" [ngClass]="{'text-white': !isEdit, 'text-dark': isEdit}">
					<fa-icon *ngIf="!isEdit" [icon]="faPlus"></fa-icon>
					<fa-icon *ngIf="isEdit" [icon]="faPen"></fa-icon>
					{{ isEdit ? 'Editando compra ' + purchase.data.attributes.reference_number : 'Nueva compra'}}
				</h5>
			</div>
			<div class="card-body">
				<form
					autocomplete="off"
					[formGroup]="purchaseForm"
					id="ngPurchaseForm"
					(ngSubmit)="submitPurchaseForm()"
				>
					<div class="row">
						<div class="col-12">
							<!-- Proveedor -->
							<div class="mb-3">
								<label for="provider-id" class="form-label">Proveedor *</label>
								<ng-select [items]="providers.data"
                           formControlName="provider_id"
                           bindLabel="attributes.name"
                           bindValue="id"
                           labelForId="provider-id"
                           class="custom-select"
                           placeholder="Seleccione un proveedor"
                           [class.is-invalid]="isInValid('provider_id')"
                           [class.has-value]="hasValue('provider_id')">
								</ng-select>
								<div class="invalid-feedback">
									Por favor, seleccionar un proveedor
								</div>
							</div>
							<!-- Numero de Referencia -->
							<div class="mb-3">
								<label for="reference_number" class="form-label"
									>Numero de referencia *</label
								>
								<input
									type="text"
									id="reference_number"
									class="form-control"
									formControlName="reference_number"
									placeholder="Numero de referencia"
									[class.is-invalid]="isInValid('reference_number')"
								/>

								<div class="invalid-feedback">
									Por favor, ingresar el numero de referencia
								</div>
							</div>
							<!-- Fecha -->
              <div class="mb-3">
                <ngb-datepicker #dp formControlName="request_date" (navigate)="date = $event.next"></ngb-datepicker>
                <span>Fecha de compra: {{ request_date?.value }}</span>                
							</div>
						</div>
					</div>
					<!-- /.row -->
				</form>
				
			</div>
			<!-- Campo de Submit -->
			<div class="card-footer d-flex justify-content-between">
				<a class="btn btn-secondary btn-block mr-1" [routerLink]="['/compras']"
					>Volver</a
				>
				<button
					type="submit"
					class="btn btn-success btn-md btn-block mt-0"
					form="ngPurchaseForm"
					[disabled]="purchaseForm.invalid"
				>
					<fa-icon [icon]="faSave"></fa-icon>Guardar
				</button>
				<!-- <button
					*ngIf="secondPart"
					type="submit"
					class="btn btn-success btn-md btn-block mt-0"
					form="ngProductForm"
					[disabled]="productForm.invalid"
				>
					<fa-icon [icon]="isEdit ? faSave : faPlus"></fa-icon> {{isEdit?
					'Cargar producto' : 'Cargar producto'}}
				</button> -->
			</div>
		</div>
	</div>
	<div class="col-6 d-flex justify-content-center align-items-center">
		<fa-icon [icon]="faShoppingCart" size="10x" class='text-secondary'></fa-icon>
	</div>
</div>
