<a class="btn btn-outline-primary mr-2" [routerLink]="['/cuentas']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Cuentas
  </a>
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/cuentas/crear']" routerLinkActive="active">
    Nueva cuenta
  </a>
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/cuentas/tipos']" routerLinkActive="active">
    Tipos
  </a>
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/cuentas/tipos/crear']" routerLinkActive="active">
    Nuevo tipo
  </a>

