<div class="card animated fadeIn">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Alerts</h5>
    <p class="card-text">Test some alerts buttons with differents types, and autoclose after 3500ms.</p>
    <div class="d-flex align-items-center">
      <button (click)="showAlert('success', 'Special Title treatment')" class="btn btn-success ml-1 mr-1">Success!</button>
      <button (click)="showAlert('danger', 'Special Title treatment')" class="btn btn-danger ml-1 mr-1">Danger!</button>
      <button (click)="showAlert('warning', 'Special Title treatment')" class="btn btn-warning ml-1 mr-1">Warning!</button>
      <button (click)="showAlert('info', 'Special Title treatment')" class="btn btn-info ml-1 mr-1">Info!</button>
      <button (click)="showAlert('primary', 'Special Title treatment')" class="btn btn-primary ml-1 mr-1">Primary!</button>
      <button (click)="showAlert('secondary', 'Special Title treatment')" class="btn btn-secondary ml-1 mr-1">Secondary!</button>
      <button (click)="showAlert('light', 'Special Title treatment')" class="btn btn-light ml-1 mr-1">Light!</button>
      <button (click)="showAlert('dark', 'Special Title treatment')" class="btn btn-dark ml-1 mr-1">Dark!</button>

    </div>
  </div>
</div>

<div class="card animated fadeIn mt-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card animated fadeIn mt-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card animated fadeIn mt-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card animated fadeIn mt-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card animated fadeIn mt-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card animated fadeIn mt-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card animated fadeIn mt-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
