<a class="btn btn-outline-primary mr-2" [routerLink]="['/proveedores']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Proveedores
  </a>
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/proveedores/crear']" routerLinkActive="active">
    Nuevo proveedor
  </a>
  
  <a class="btn btn-outline-primary mr-2" [routerLink]="['/proveedores/categorias']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Categorías
  </a>
  <a class="btn btn-outline-primary" [routerLink]="['/proveedores/categorias/crear']" routerLinkActive="active">
    Nueva categoría
  </a>