<div class="row mx-auto animated fadeIn fast">
	<div class="col-xl-6 col-12">
		<div class="card">
			<div class="card-header bg-primary">
				<h3 class="card-title text-white">
					<fa-icon [icon]="faShoppingCart"></fa-icon>
					Carrito compra {{ purchase.data.attributes.reference_number  }}
				</h3>
			</div>
			<div class="card-body">
        <ng-container *ngFor="let purchaseProduct of purchase.data.attributes.purchase_products; let i = index">
          <app-cart-form [purchaseProduct]="purchaseProduct" 
												 [lastInsert]="i == (purchase.data.attributes.purchase_products.length - 1)" 
												 (formTouched)="addNewRow($event)"></app-cart-form>
        </ng-container>				
			</div>
			<!-- Campo de Submit -->
			<div class="card-footer d-flex justify-content-between">
				<a class="btn btn-secondary btn-block mr-1" [routerLink]="['/compras']">Volver</a>
				<button type="submit"
								class="btn btn-success btn-md btn-block mt-0"
								form="ngPurchaseProductForm">
					<fa-icon [icon]="faSave"></fa-icon>Guardar
				</button>
			</div>
		</div>
	</div>
</div>
